/*초기화*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
html {
  background-color: antiquewhite;
}
/*wrap*/
#wrap {
  width: 100%;
  background-color: antiquewhite;
}
#container {
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding: 100px 0 100px;
  position: relative;
}
/*popUp*/
#popUpWrap {
  width: 100%;
  height: 100%;
  transition: right;
  transition-duration: 0.5s;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.5);
}
#pop {
  width: 50%;
  height: 300px;
  text-align: center;
  box-shadow: 20px 20px 20px rgba(100, 100, 100, 0.5);
  background-color: rgba(200, 100, 0, 0.7);
  outline: 1px solid orange;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#textPop {
  width: 100%;
  height: 15%;
  padding: 2% 0;
  font-size: 24px;
  color: bisque;
}
#inputPop {
  width: 100%;
  height: 40%;
  padding: 2% 0;
}
#inputPop input,
.answerText {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  background-color: tomato;
  font-size: 24px;
  border: none;
  text-align: center;
}
#inputPop .answerText {
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  text-align: center;
}
#inputPop input:hover,
#inputPop input:focus {
  background: #fff;
}
#submitPop button {
  width: 150px;
  border-radius: 70px;
  background-color: black;
  color: #fff;
  font-size: 25px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
#submitPop button:hover {
  transform: scale(1.2);
}
/*box*/
#box {
  width: 500px;
  margin: 0 auto;
}
#box:after {
  display: block;
  clear: both;
  content: "";
}
.boxElement {
  float: left;
  box-sizing: border-box;
  border: 1px solid brown;
  font-size: 1em;
  text-align: center;
}

.boxElement:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  background-color: #fff;
}
/*collect*/
#collect {
  margin: 30px auto;
  text-align: center;
  display: none;
  font-size: 24px;
  font-weight: 700;
  position: fixed;
  top: 30px;
  right: 20%;
}
#collect label {
  margin-right: 10px;
}

/*answer*/
#answer {
  width: 30px;
  padding: 7vh 0;
  text-align: center;
  border-radius: 7px 0 0 7px;
  background-color: rgba(100, 100, 100, 0.5);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatey(-50%);
}
#answer:hover {
  background-color: gray;
  color: #fff;
}

/*result*/
#result {
  width: 100%;
  height: 100%;
  transition: right;
  transition-duration: 2s;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.5);
  right: -2999px;
}
#resultInner {
  width: 40%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#resultInner img {
  max-width: 100%;
}
#resultText {
  font-weight: 700;
  font-size: 34px;
  margin-top: 20px;
  cursor: pointer;
}
